{% extends 'testapp/base.html' %}


{% block content %}

<div class="container mt-5">
    <h2 class="text-center alert alert-danger">
        Fuction Based View Modelform CRUD Project
    </h2>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <h4 class="text-center alert alert-info">Add New Student</h4>
            <form action="" method="post">
                {% csrf_token %}


                <div class="form-group">
                    <label for="">Name</label>
                    <input type="text" class="form-control" id="" aria-describedby="emailHelp" required name="name">
                </div>
                <div class="form-group">
                    <label for="">Subject</label>
                    <input type="text" class="form-control" id="" aria-describedby="emailHelp" required name="subject">
                </div>
                <div class="form-group">
                    <label for="">Marks</label>
                    <input type="number" class="form-control" id="" aria-describedby="emailHelp" required name="marks">
                </div>

                <div>
                    {% for message in messages %}
                    <h3>{{message}}</h3>
                    {% endfor %}
                </div>
                <button type="submit" class="btn btn-success">Add</button>



            </form>
        </div>


        <div class="col-sm-8">
            <h4 class="text-center alert alert-info">Show Student Information</h4>
            {% if student %}

            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Index</th>
                        <th scope="col">Name</th>
                        <th scope="col">Subject</th>
                        <th scope="col">Marks</th>
                        <th scope="col">Actions </th>

                    </tr>
                </thead>
                <tbody>
                    {% for stu in student %}
                    <tr>
                        <th scope="row">{{forloop.counter}}</th>
                        <td>{{stu.name}}</td>
                        <td>{{stu.subject}}</td>
                        <td>{{stu.marks}}</td>
                        <td>
                            <a href="{% url 'update' stu.id %}" class="btn btn-warning btn-sm">Edit</a>

                            <form action="{% url 'delete' stu.id %}" method="post" class="d-inline">
                                {% csrf_token %}
                                <input type="submit" value="Delete" class="btn btn-danger btn-sm">
                            </form>

                        </td>
                    </tr>
                    {% endfor %}

                </tbody>
            </table>


            {% else %}
            <h4 class="text-center alert alert-danger">No Record Found</h4>
            {% endif %}

        </div>

    </div>


</div>

{% endblock content %}